.weather-container{
    border-radius: 10px;
    border: 2px solid black;
}

.number-style
{
    font-size: 5rem;
    font-weight: bold;
    color: rgb(226, 17, 59);
}

.pcws{
    width: 100px;
    height: 100px;
}